html, body {
  width: 730px;
  height: 210px;
  /*overflow: hidden;*/
}

body {
  user-select: none;
  background: #eee;
}

.itemDiv {
  display: block;
  margin-top:4px;
}

.itemLabel {
  display: inline-block;
  width: 60px;
}

input.itemInput {
  display: inline-block;
  width: 150px;
  font-size: 1em;
  color: #444;
  border-bottom-color: #ddd;
}

select.itemInput {
  display: inline-block;
  width: 250px;
  margin-left:12px;
}

textarea {
  width:380px;
  height:160px;
  resize: none;
}
