body {
  user-select: none;
  background: #eee;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 10px;
  overflow: hidden;
}

#textContainer {
  width: calc(100% - 360px);
  height: calc(100% - 60px);
  position: absolute;
  top: 14px;
  border-width: 1px;
  border-color: #000;
  border-style: solid;
  box-sizing: border-box;
}

textarea {
  resize: none;
  opacity: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  border-width: 0px;
  padding: 0px 2px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Helvetica;
  font-size: 1em;
  line-height: 1.4em;
}

#currentText {
  position: absolute;
  opacity: 1;
  border-width: 0px;
  padding: 0px 2px;
  margin: 0px;
  background-color: #fff;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: Helvetica;
  font-size: 1em;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-y: auto;
  line-height: 1.4em;
}

#textareaCover {
  position: absolute;
  border-width: 0px;
  padding: 0px 2px;
  margin: 0px;
  opacity: 0;
  display: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

#currentText span{
  background-color: #b4d5ff;
}

label[disabled=true] {
  color: #aaa;
}

.buttonBar {
  text-align:right;
  position: fixed;
  width: 100%;
  bottom: 10px;
}

.buttonGroup {
  padding-right: 24px;
}
